# section: Database configuration
DB_ROOT_PASSWORD=
DB_NAME=portfolio_db
DB_HOST=mysql
DB_USER=root
DB_PASSWORD=
DB_PORT=3306
DATABASE_URL="mysql://username:password@host:port/database"
PORT=3000
# section: JWT configuration
JWT_SECRET='ganti_ini_dengan_string_random_panjang'
ADMIN_USERNAME=rey
ADMIN_PASSWORD_HASH=''
# section: Cloudflare R2 configuration
R2_ACCOUNT_ID='xxx'
R2_ACCESS_KEY_ID='xx'
R2_SECRET_ACCESS_KEY='xx'
R2_BUCKET_NAME=personalweb
R2_PUBLIC_URL=https://cdn.buildwithrey.my.id
CF_API_TOKEN='xxx'
CF_ZONE_ID='xxx'